Crea tu propia grid.

<form action="<%=grids_preview_path %>" method="get" accept-charset="utf-8">
	Número de columas
	<input name="cols" type="number"> 

	Gutter
	<input name="gutter" type="number"> 

	<input type="submit"> Enviar 
</form>